<div class="row">
  <div class="col-xs-12">
    <img
      [src]="rcpSelec.imagePath"
      alt="{{ rcpSelec.name }}"
      class="img-responsive"
      style="max-height: 200px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ rcpSelec.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ rcpSelec.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingredient of rcpSelec.ingredients; index as i">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="colxs-12">
    <div class="dropdown">
      <button
        appDropdownDirectiveTs
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" (click)="onSendToShLst()" style="cursor: pointer">Add to shopping list</a></li>
        <li><a class="dropdown-item" href="#">Edit recepi</a></li>
        <li><a class="dropdown-item" href="#">Delete recepi</a></li>
      </ul>
    </div>
  </div>
</div>
