<div class="row">
    <div class="col-xs-12">
      <img [src]="rcpSelec.imagePath"
            alt="{{ rcpSelec.name }}"
            class="img-responsive"
            style="max-height: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ rcpSelec.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ rcpSelec.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredient
    </div>
</div>
<div class="row">
  <div class="colxs-12">
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle">
              Manage Recipe <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li><a href="#">Add to shopping list</a></li>
              <li><a href="#">Edit recepi</a></li>
              <li><a href="#">Delete recepi</a></li>
          </ul>
      </div>
  </div>
</div>
